# [[plugins]]
# repo = "wadackel/vim-dogrun"
# merged = 0

[[plugins]]
repo = "EdenEast/nightfox.nvim"
merged = 0

[[plugins]]
repo = "tpope/vim-surround"

[[plugins]]
repo = "tpope/vim-repeat"

[[plugins]]
repo = "nvim-lua/plenary.nvim"

[[plugins]]
repo = "nvim-tree/nvim-web-devicons"

[[plugins]]
repo = "nvim-telescope/telescope.nvim"
depends = ["plenary.nvim", "nvim-web-devicons"]
hook_add = """
  " パフォーマンスに問題があったらfzfをsorterとして使う
  nnoremap <silent> <leader>ff <Cmd>Telescope find_files<CR>
  nnoremap <silent> <leader>fr <Cmd>Telescope live_grep<CR>
  nnoremap <silent> <leader>fb <Cmd>Telescope buffers<CR>
  nnoremap <silent> <leader>fh <Cmd>Telescope help_tags<CR>

  lua << EOF
  local actions = require("telescope.actions")

  require("telescope").setup{
    defaults = {
      layout_strategy = "horizontal",
      path_display = { "truncate" },
      layout_config = {
        height = 0.95,
        width = 0.95,
      },
      winblend = 20,
      mappings = {
        i = {
          ["<C-a>"] = function()
            local row = vim.api.nvim_win_get_cursor(0)[1]
            vim.api.nvim_win_set_cursor(0, {row, 0})
          end,
          ["<C-e>"] = function()
            local row = vim.api.nvim_win_get_cursor(0)[1]
            local line = vim.api.nvim_get_current_line()
            vim.api.nvim_win_set_cursor(0, {row, #line})
          end,
          ["<C-d>"] = function()
            local row, col = unpack(vim.api.nvim_win_get_cursor(0))
            local line = vim.api.nvim_get_current_line()
            if col < #line then
              vim.api.nvim_set_current_line(line:sub(1, col) .. line:sub(col + 2))
            end
          end,
          ["<C-u>"] = function()
            local row, col = unpack(vim.api.nvim_win_get_cursor(0))
            local line = vim.api.nvim_get_current_line()
            if col > 0 then
              -- FIXME: カーソル位置より後ろも削除されてしまう
              vim.api.nvim_set_current_line(line:sub(col + 1))
            end
          end,
        }
      }
    }
  }
EOF
"""

[[plugins]]
repo = "MunifTanjim/nui.nvim"

[[plugins]]
repo = "nvim-neo-tree/neo-tree.nvim"
depends = ["plenary.nvim", "nvim-web-devicons", "nui.nvim"]
hook_add = """
  nnoremap <silent> <leader>b <Cmd>Neotree toggle<CR>
  nnoremap <silent> <leader>;e <Cmd>Neotree toggle<CR>
"""
